<!--HEAD-->

<%- include("../partials/head.ejs") %> 

<body>
    <!--Barra de navegaci칩n-->

    <%- include("../partials/navBar.ejs") %>
    
    <!--Bot칩n flotante de inicio de sesi칩n-->

    <%- include("../partials/buttonFlot.ejs") %> 
    
    <!--Cuerpo de la p치gina-->
    
    <div class="container marginBarra">
        <div class="row">
            <div class="col-12 pt-4 text-center mb-4">
                <h2 class="">Nuestros Productos</h2>
            </div>
        </div>

        <div class="row justify-content-around">
            <div class="col">
                <p class="fs-3">Producto</p>
            </div>
        </div>
    </div>
    
    <!--Footer-->

    <%- include("../partials/footer.ejs") %> 

    <!--JS Bootstrap-->

    <%- include("../partials/jsBootstrap.ejs") %> 

</body>
</html>