<!--HEAD-->

<%- include("./partials/head.ejs") %> 

<body>
    <!--Barra de navegaci칩n-->

    <%- include("./partials/navBar.ejs") %>
    
    <!--Bot칩n flotante de inicio de sesi칩n-->

    <%- include("./partials/buttonFlot.ejs") %> 
    
    <!--Cuerpo de la p치gina-->

    <div class="container marginBarra">
        <div class="row">

            <!--Carrusel-->
            
            <div id="carouselExampleCaptions" class="carousel slide col-12 p-0 m-0" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner altura75 overflow-hidden">
                    <div class="carousel-item active">
                        <img src="./img/002.jpg" class="d-block mx-auto altura75" alt="Living">
                        <div class="carousel-caption d-none d-md-block">
                            <p>Photo by <a href="https://unsplash.com/@spacejoy?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Spacejoy</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="./img/003.jpg" class="d-block mx-auto altura75" alt="Living">
                        <div class="carousel-caption d-none d-md-block">
                            <p>Photo by <a href="https://unsplash.com/@spacejoy?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Spacejoy</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="./img/008.jpg" class="d-block  mx-auto altura75" alt="Adornos">
                        <div class="carousel-caption d-none d-md-block">
                            <p>Photo by <a href="https://unsplash.com/@thephotographermom?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Shashi Chaturvedula</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></p>
                        </div>
                    </div>
                </div>  
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <!--Tarjetas de productos destacados-->

        <div class="row">
            <div class="col-12 pt-4 text-center mb-4">
                <h2>Productos Destacados</h2>
            </div>
        </div>

        <div class="row justify-content-around">
            <% for( let j = 0; j < productsIndex.length; j++ ) { %>
                <div class="card p-0 shadow-lg col-3 mb-4 card-flotante" style="width: 20rem;">
                    <div class="card-img-top overflow-hidden position-relative" style="height: 27rem;">
                        <img src="./img/<%= productsIndex[j].img %>" class="h-100 position-absolute top-50 start-50 translate-middle" alt="...">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Photo by <a href="<%= productsIndex[j].link1 %>"><%= productsIndex[j].autor %></a> on <a href="<%= productsIndex[j].link2 %>">Unsplash</a></p>
                    </div>
                </div>
            <% } %>
        </div>

        <!--<div class="row justify-content-around my-4">
            Producto 1
            <div class="card p-0 border-dark shadow-lg col-3" style="width: 18rem;">
                <div class="card-img-top overflow-hidden position-relative" style="height: 18rem;">
                    <img src="./img/004.jpg" class="h-100 position-absolute top-50 start-50 translate-middle" alt="...">
                </div>
                <div class="card-body">
                    <p class="card-text">Photo by <a href="https://unsplash.com/@alexagorn?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Alexandra Gorn</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></p>
                </div>
            </div>
            Producto 2
            <div class="card p-0 border-dark shadow-lg col-3" style="width: 18rem;">
                <div class="card-img-top overflow-hidden position-relative" style="height: 18rem;">
                    <img src="./img/005.jpg" class="h-100 position-absolute top-50 start-50 translate-middle" alt="...">
                </div>
                <div class="card-body">
                    <p class="card-text">Photo by <a href="https://unsplash.com/@linhlee?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Linh Le</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></p>
                </div>
            </div>
            Producto 3
            <div class="card p-0 border-dark shadow-lg col-3" style="width: 18rem;">
                <div class="card-img-top overflow-hidden position-relative" style="height: 18rem;">
                    <img src="./img/006.jpg" class="h-100 position-absolute top-50 start-50 translate-middle" alt="...">
                </div>
                <div class="card-body">
                    <p class="card-text">Photo by <a href="https://unsplash.com/@tiagolopes?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Tiago Alexandre Lopes</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></p>
                </div>
            </div>
        </div>

        <div class="row justify-content-around my-4">
            Producto 4
            <div class="card p-0 border-dark shadow-lg col-3" style="width: 18rem;">
                <div class="card-img-top overflow-hidden position-relative" style="height: 18rem;">
                    <img src="./img/007.jpg" class="h-100 position-absolute top-50 start-50 translate-middle" alt="...">
                </div>
                <div class="card-body">
                    <p class="card-text">Photo by <a href="https://unsplash.com/@minhphamdesign?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Minh Pham</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></p>
                </div>
            </div>
            Producto 5
            <div class="card p-0 border-dark shadow-lg col-3" style="width: 18rem;">
                <div class="card-img-top overflow-hidden position-relative" style="height: 18rem;">
                    <img src="./img/009.jpg" class="h-100 position-absolute top-50 start-50 translate-middle" alt="...">
                </div>
                <div class="card-body">
                    <p class="card-text">Photo by <a href="https://unsplash.com/@linhlee?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Linh Le</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></p>
                </div>
            </div>
            Producto 6
            <div class="card p-0 border-dark shadow-lg col-3" style="width: 18rem;">
                <div class="card-img-top overflow-hidden position-relative" style="height: 18rem;">
                    <img src="./img/010.jpg" class="h-100 position-absolute top-50 start-50 translate-middle" alt="...">
                </div>
                <div class="card-body">
                    <p class="card-text">Photo by <a href="https://unsplash.com/@amyvosters?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Amy Vosters</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></p>
                </div>
            </div>
        </div>-->
        
    </div>

    <!--Footer-->

    <%- include("./partials/footer.ejs") %> 

    <!--JS Bootstrap-->

    <%- include("./partials/jsBootstrap.ejs") %> 

</body>
</html>