<%- include("../partials/head.ejs") %>

<body>
    <!--Barra de navegación-->

    <%- include("../partials/navBar.ejs") %> 

    <!--Botón flotante de inicio de sesión-->

    <%- include("../partials/buttonFlot.ejs") %>

    <!--Formulario de registro-->

    <div class="container marginBarra">
        <div class="row d-flex justify-content-center">
            <div class="col-12 my-3">
                <h1 class="text-center">Formulario de Registro</h1>
            </div>
            <form class="col-6" id="formulario">
                <div class="form-group col-12 mb-3">
                    <input type="text" class="form-control" name="nombre" placeholder="Nombre" >
                </div>
                <div class="form-group col-12 mb-3">
                    <input type="text" class="form-control" name="apellido" placeholder="Apellido" >
                </div>
                <div class="form-group col-12 mb-3">
                    <input type="email" class="form-control" name="email" placeholder="Email" >
                </div>
                <div class="form-group col-12 mb-3">
                    <input type="password" class="form-control" name="password" placeholder="Contraseña" >
                </div>
                <div class="form-group col-12 mb-3">
                    <input type="password" class="form-control" name="password2" placeholder="Confirmar contraseña" >
                </div>
                <div class="form-group d-flex justify-content-center mb-3">
                    <button type="submit" class="btn btn-dark">Crear Cuenta</button>
                </div>
            </form>
        </div>
        
        <div class="row mb-3">
            <div class="text-center col my-3">¿Ya tenés cuenta? <a href="/login" class="link-dark">¡Inicia sesión!</a></div>
        </div>
    </div>
    
    <!--Footer-->

    <%- include("../partials/footer.ejs") %>

    <!--JS Bootstrap-->

    <%- include("../partials/jsBootstrap.ejs") %>
    
</body>
</html>